@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

:root {
  --soft-cyan: hsl(174, 77%, 80%);
  --strong-cyan: hsl(174, 86%, 45%);
  --light-grayish-red: hsl(14, 92%, 95%);
  --light-red: hsl(15, 100%, 70%);
  --pale-blue: hsl(226, 100%, 87%);

  --very-pale-blue: hsl(230, 100%, 99%);
  --light-grayish-blue-slider: hsl(224, 65%, 95%);
  --light-grayish-blue-bg: hsl(223, 50%, 87%);
  --grayish-blue: hsl(225, 20%, 60%);
  --dark-desaturated-blue: hsl(227, 35%, 25%);
}

body {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  height: 50vh;
  background-image: url(./assets/images/bg-pattern.svg);
  background-size: cover;
  border-radius: 0 0 0 10rem;
  text-align: center;
  z-index: -1;
}

 header div {
  position: relative;
  margin-top: 10vh;
 }

 header div img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
 }

 header div hgroup {
  position: relative;
  z-index: 1;
 }

main {
  width: 90%;
  max-width: calc(640px - 4rem);
  padding: 2rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: var(--light-grayish-blue-bg) 0.5rem 0.5rem 1rem;
}

footer {
  position: absolute;
  bottom: 1vh;
}

